body {
  color: #5a403e;
  background-color: #ece8e4;
  font-family: Helvetica;
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.4;
  font-size: 15px;
  padding: 0 10px;
  -ms-overflox-style: none;
  scrollbar-width: none;
}

td {
  border-style: solid;
  border-color: #333;
  border-width: 1px;
  padding: 6px;
}

th {
  border-style: solid;
  border-color: #5a403e;
  border-width: 1px;
  padding: 6px;
}

code {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #3a201e;
}

table {
  border-color: #5a403e;
  border-collapse: collapse;
}

* {
  text-align: justify;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.note {
  margin-left: 10px;
  margin-right: 10px;
	border-left: 2px solid #5a403ea0;
	background-color: #e8e4df;
	color: #444a;
	font-family: monospace;
	font-size: 11px;
	padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
}

.title {
  background-color: #d8d4cf;
  text-decoration: underline;
  font-size: 26pt;
  text-align: center;
}

.chapter {
  background-color: #dad6d1;
  font-style: italic;
  text-decoration: underline;
  font-size: 22pt;
  padding-left: 10px;
}

.section {
  background-color: #dcd8d3;
  font-style: italic;
  font-size: 18pt;
  padding-left: 30px;
}

.point {
  background-color: #dad6d1;
  font-weight: bold;
  font-size: 18px;
  padding-left: 50px;
}