body {
  color: #5a403e;
  background-color: #e8e4df;
  font-family: Helvetica;
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.4;
  font-size: 15px;
  padding: 0 10px;
  -ms-overflox-style: none;
  scrollbar-width: none;
}

td {
  border-style: solid;
  border-color: #333;
  border-width: 1px;
  padding: 6px;
}

th {
  border-style: solid;
  border-color: #5a403e;
  border-width: 1px;
  padding: 6px;
}

code {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #3a201e;
}

table {
  border-color: #5a403e;
  border-collapse: collapse;
}

* {
  text-align: justify;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.language-cpp {
	border-top: 1px solid #5a403e;
	border-bottom: 1px solid #5a403e;
	background-color: #eee;
	color: #444;
	font-family: monospace;
	font-size: 12px;
	line-height: 1.1;
	padding: 7px;
}
